name: Build Debian Package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential devscripts debhelper dpkg-dev

      - name: Build .deb with dpkg-buildpackage
        run: |
          dpkg-buildpackage -us -uc

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: deb-packages
          path: ../*.deb
